@model AdmCRRN.Models.ViewModel.ResumoLancamentoViewModel
@{
    ViewBag.Title = "Index";
}
<h2>
    Resumo dos lançamentos do dia 09/08/2012</h2>
<p>
    @Html.ActionLink("Novo lançamento", "Create")
</p>
<table class="table">
    <tr>
        <td>
            Saldo anterior
        </td>
        <td>@Model.SaldoAnterior.ToString("c")
        </td>
    </tr>
    <tr>
        <td colspan="2">
            Receitas
        </td>
    </tr>
    @foreach (var item in Model.Receitas)
    {
        <tr>
            <td>@item.Descricao
            </td>
            <td>@item.Valor.ToString("c")
            </td>
        </tr>
    }
    <tr>
        <td>
            Total
        </td>
        <td>@Model.TotalReceitas.ToString("c")
        </td>
    </tr>
    <tr>
        <td colspan="2">
            Despesas
        </td>
    </tr>
    @foreach (var item in Model.Despesas)
    {
        <tr>
            <td>
                @item.Descricao
            </td>
            <td>
                @item.Valor.ToString("c")
            </td>
        </tr>
    }
    <tr>
        <td>
            Total
        </td>
        <td>
            @Model.TotalDespesas.ToString("c")
        </td>
    </tr>
    <tr>
        <td colspan="2">
            Sumário
        </td>
    </tr>
    <tr>
        <td>
            (+) Saldo anterior
        </td>
        <td>@Model.SaldoAnterior.ToString("c")
        </td>
    </tr>
    <tr>
        <td>
            (+) Total das receitas
        </td>
        <td>@Model.TotalReceitas.ToString("c")
        </td>
    </tr>
    <tr>
        <td>
            (-) Total das despesas
        </td>
        <td>@Model.TotalDespesas.ToString("c")
        </td>
    </tr>
    <tr>
        <td>
            (=) Saldo final
        </td>
        <td>@Model.SaldoFinal.ToString("c")
        </td>
    </tr>
    <tr>
        <td>
            Total de membros
        </td>
        <td>@Model.QuantidadeMembros
        </td>
    </tr>
    <tr>
        <td>
            Total de congregados
        </td>
        <td>@Model.QuantidadeCongregados
        </td>
    </tr>
    <tr>
        <td>
            Total de crianças
        </td>
        <td>@Model.QuantidadeCriancas
        </td>
    </tr>
</table>
