@model IEnumerable<AdmCRRN.Models.Lancamento>

@{
    ViewBag.Title = "Lista de lançamentos";
}

<h2>Lista de lançamentos</h2>

<p>
    @Html.ActionLink("Gerar Novo Lançamento", "Create")
</p>
<table class="table table-bordered">
    <tr>
        <th>
            Valor
        </th>
        <th>
            Historico
        </th>
        <th>
            Data
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Valor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Historico)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Data)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
